@import "/website/css/main.css";

.language-title {
    font-family: var(--heading-font);
    color: var(--java-primary);
    font-size: 3em;
}

.language-title strong:hover {
    color: var(--java-secondary);
}