@import "/website/css/main.css";

.language-title {
    font-family: var(--primary-text);
    color: var(--java-primary);
    font-size: 2em;
    transition: background .5s;
}

.language-title strong:hover {
    /* color: var(--java-secondary); */
    background: linear-gradient(to left, var(--java-primary) 20%, var(--java-secondary) 80%);
}