@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100;700&display=swap');

[theme="dark"] {
    --primary_background: #11161c;
    --primary_light: #373c43;
    --primary_dark: #000;
    --primary_text: #fff;

    --heading_font: 'Raleway', sans-serif;
    --main_font: 'Open Sans', sans-serif;

    --accent_background: #1d7fdb;
    --accent_light: #67aeff;
    --accent_dark: #0053a9;
    --accent_text: #000;
}

[theme="light"] {
    --primary_background: #eee;
    --primary_light: #fff;
    --primary_dark: #bcbcbc;
    --primary_text: #000;

    --heading_font: 'Raleway', sans-serif;
    --main_font: 'Open Sans', sans-serif;

    --accent_background: #04458f;
    --accent_light: #4c70c0;
    --accent_dark: #001f61;
    --accent_text: #fff;
}

html {
    background: var(--primary_background);
    overflow-x: hidden;
    overflow-y: hidden;
}

.page-title {
    font-family: var(--heading_font);
    color: var(--accent_background);
    text-align: center;
    font-size: 3em;
    transition: transform .75s, color .75s;
}

.page-title:hover {
    color: var(--accent_light);
    transform: scale(1.2);
}

.intro {
    font-family: var(--main_font);
    color: var(--primary_text);
    text-align: left;
    font-size: medium;
}