@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100;700&display=swap');

[data-theme="dark"] { /* https://www.pullrequest.com/blog/how-to-implement-dark-mode-with-css-js/ */
    --primary-background: #11161c;
    --primary-light: #373c43;
    --primary-dark: #000;
    --primary-text: #fff;

    --heading-font: 'Raleway', sans-serif;
    --main-font: 'Open Sans', sans-serif;

    --accent-background: #1d7fdb;
    --accent-light: #67aeff;
    --accent-dark: #0053a9;
    --accent-text: #000;

    --java-primary: #f7901e;
    --java-secondary: #007599;
}

[data-theme="light"] {
    --primary-background: #eee;
    --primary-light: #fff;
    --primary-dark: #bcbcbc;
    --primary-text: #000;

    --heading-font: 'Raleway', sans-serif;
    --main-font: 'Open Sans', sans-serif;

    --accent-background: #04458f;
    --accent-light: #4c70c0;
    --accent-dark: #001f61;
    --accent-text: #fff;

    --java-primary: #f7901e;
    --java-secondary: #007599;
}

html {
    background: var(--primary-background);
    overflow-x: hidden;
    overflow-y: hidden;
}

.site-nav {
    font-family: var(--main-font);
    color: var(--primary-text);
    font-size: small;
}

.page-title { /* TODO: Make transition on cursor removal */
    font-family: var(--heading-font);
    color: var(--accent-background);
    text-align: center;
    font-size: 3em;
}

.page-title strong:hover {
    color: var(--accent-light);
    display: inline-block;
    transform: scale(1.2);
    transition: transform .75s, color .75s;
}

.intro {
    font-family: var(--main-font);
    color: var(--primary-text);
    text-align: left;
    font-size: medium;
}

.intro:hover {
    background-color: var(--primary-light);
}

.content {
    font-family: var(--main-font);
    color: var(--primary-text);
    text-align: left;
    font-size: small;
}

.content:hover {
    background-color: var(--primary-light);
}

.theme-switch {
    background-color: var(--accent-dark);
    color: var(--accent-text)
}

.theme-switch:hover {
    background-color: var(--accent-light);
}