@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100;700&display=swap');

/* Themes */

[data-theme="dark"] { /* https://www.pullrequest.com/blog/how-to-implement-dark-mode-with-css-js/ */
    --primary-background: #11161c;
    --primary-light: #373c43;
    --primary-dark: #000;
    --primary-text: #fff;

    --heading-font: 'Raleway', sans-serif;
    --main-font: 'Open Sans', sans-serif;

    --accent-background: #1d7fdb;
    --accent-light: #67aeff;
    --accent-dark: #0053a9;
    --accent-text: #000;

    --java-primary: #f7901e;
    --java-secondary: #007599;

    --python-primary: #3777ab;
    --python-secondary: #ffd343;

    --cs-primary: #a078db;
    --cs-secondary: #2c006b;
}

[data-theme="light"] {
    --primary-background: #eee;
    --primary-light: #fff;
    --primary-dark: #bcbcbc;
    --primary-text: #000;

    --heading-font: 'Raleway', sans-serif;
    --main-font: 'Open Sans', sans-serif;

    --accent-background: #04458f;
    --accent-light: #4c70c0;
    --accent-dark: #001f61;
    --accent-text: #fff;

    --java-primary: #f7901e;
    --java-secondary: #007599;

    --python-primary: #3777ab;
    --python-secondary: #ffd343;

    --cs-primary: #2c006b;
    --cs-secondary: #a078db;
}

html {
    background: var(--primary-background);
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
}

/* Site navigation */

.site-nav {
    margin: 0;
    padding: 15px;
}

.site-nav ul { /* https://www.w3schools.com/css/css_navbar_horizontal.asp */
    list-style-type: none;
    background-color: var(--primary-dark);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.site-nav li {
    float: left;
}

.site-nav li:hover {
    background-color: var(--primary-light);
}

.site-nav a {
    font-family: var(--main-font);
    color: var(--primary-text);
    font-size: small;

    display: block;
    padding: 8px;
    text-decoration: none;
}

.home {
    background-color: var(--accent-background);

    transition-duration: .25s;
}

.theme-switch {
    font-family: var(--main-font);
    background-color: var(--accent-background);
    color: var(--primary-text);
    font-size: small;

    border: none;
    padding: 8px;
    text-align: center;
    display: inline-block;

    transition-duration: .25s;
}

.theme-switch:hover {
    background-color: var(--accent-light);
}

/* Text effects */

.page-title {
    text-align: center;
    font-size: 3em;
}

.page-title strong {
    display: inline-block;
    font-family: var(--heading-font);
    color: var(--accent-background);
    transition-duration: .75s;
}

.page-title strong:hover {
    color: var(--accent-light);
    transform: scale(1.2);
    transition-duration: .75s;
}

.intro {
    font-family: var(--main-font);
    color: var(--primary-text);
    text-align: left;
    font-size: xx-large;
    margin-left: 10px;
}

.container {
    transition-duration: .25s;
}

.container:hover{
    background-color: var(--primary-light);

    transition-duration: .25s;
}

.content-title {
    font-family: var(--main-font);
    color: var(--primary-text);
    text-align: left;
    font-size: x-large;
    margin-left: 10px;
}

.content {
    font-family: var(--main-font);
    color: var(--primary-text);
    text-align: left;
    font-size: medium;
    width: 70%;
    margin-left: 10px;

}

.content a {
    color: var(--primary-text);
}