@import "/website/css/main.css";

.language-title strong {
    font-family: var(--heading-font);
    color: var(--python-primary);

    transition-duration: .5s;
}

.language-title strong:hover {
    color: var(--python-secondary);

    transition-duration: .5s;
}
